.btn {
    &.btn-primary {
        background: $brand-primary;
        border: 1px solid #000;
        color: #000;
        font-weight: 600;
        padding: 6px 35px;
        @include border-radius(4px);
        &:hover, &:active, &:focus {
            //background: ($brand-primary + #111);
            // @include transition-property(background-color);
            // @include transition-duration(200ms);
            // @include transition-timing-function(ease-in);
            outline: none;
        }
        &.btn-floor {
            &:hover, &:active, &:focus {
                background: ($brand-primary - #111);
                @include box-shadow(none);
            }
            &.active {
                background: ($brand-primary - #252525);
            }
        }
    }
    &.btn-default {
        @include border-radius(20px);
        border: 1px solid #333;
        background: transparent;
        @include responsive-font(1vw, 12px, 18px);
        font-weight: bold &:hover {
            background: none;
        }
    }
}

$colour-twitter: #7dc4e4;
$colour-facebook: #4267b2;
$colour-youtube: #cd201f;
$colour-linkedin: #0077b5;

.btn-facebook, .btn-twitter, .btn-youtube, .btn-mail {
    border: none;
    transition: all 0.3s;
    width: 30px;
    height: 30px;
    display: block;
    background: #fff;
    padding: 2px 9px;
    float: left;
    font-size: 15px;
    i {
        color: $brand-primary;
        font-size: 15px;
    }
}

.btn-facebook:hover, .btn-facebook:active, .btn-facebook:focus, .btn-facebook.share {
    background: $colour-facebook;
}

.btn-twitter:hover, .btn-twitter:active, .btn-twitter:focus, .btn-twitter.share {
    background: $colour-twitter;
}

.btn-youtube:hover, .btn-youtube:active, .btn-youtube:focus, .btn-youtube.share {
    background: $colour-youtube;
}

.btn-mail:hover, .btn-mail:active, .btn-mail:focus, .btn-mail.share {
    background: $colour-facebook;
}


a.newsletter {
    color: #000;
}

.newsletter {
    margin-top: 25px;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #ffed00;
    color: #000;
    padding: 5px 10px;
    display: inline-block !important;
}
