// Form input
label {
    width: 100%;
    font-weight: 300;
    @media (max-width: $screen-sm-max) {
        margin-top: 30px;
    }
}

textarea {
    border: 1px solid #bbb !important;
    @include border-radius(4px);
    max-height: 110px;
}

input[type=text], input[type=email], input[type=password], input[type=tel], .yikes-easy-mc-email {
    color: #6f756c;
    border: none;
    @include border-radius(4px);
    width: 100%;
    border: 1px solid #bbb !important;
    height: 40px;
    padding-left: 0;
    &:focus {
        outline: none;
        border: none;
        @include box-shadow(none)
    }
}

.modal {
    input[type=text], input[type=email], input[type=password], input[type=tel], .yikes-easy-mc-email {
        padding-left: 15px;
    }
}

input[type=submit] {
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    line-height: 1.846;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: $brand-primary;
    border: none;
    padding: 8px 30px;
    font-weight: 700;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    text-transform: uppercase;
}

.form-control {
    @include box-shadow(none);
    &:focus {
        @include box-shadow(none);
        border-color: inherit;
    }
}

select.form-control {
    border: 1px solid #bbb;
    margin-right: 10px;
}
