// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }

  padding-left: 0;
  padding-right: 0;

  .container{
    padding-left: 25px;
    padding-right: 25px;
  }
}
.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}
