footer {
  border-top: 5px solid #ffed00;
    background: url(https://denk.be/wp-content/uploads/2017/09/footer_denkkopie.png) center center no-repeat #000;
    padding: 30px 0;

    .container{

    }

    a, h3, p{
      color: #fff;
      text-decoration: none;
    }

    p, .text-widget{
      text-align: center;
      color: #fff;
    }

    a.social-footer{
      margin-left: 20px;
    }
}
