header {
    .wrapper-header{
      position: fixed;
      z-index: 9999;
      width: 100%;
      background-color: $brand-primary;

      .navbar-default{
        .navbar-toggle{
          border: 1px solid #000;
          padding: 12px 15px;

          .icon-bar{
            background: #000;
          }
        }
      }

      .top-navbar .links-top ul{
        margin-left: 0;
        padding-left: 0;
        float: right;

        @media (max-width: $screen-xs-max) {
            float: none;
        }

          li{
          margin-left: 0;
          text-align: center;
          margin-right: 0!important;
        }
      }


      #main-nav{
        ul{
          margin-top: 20px;

          @media (max-width: $screen-sm-max) {
              margin-top: 20px;

              li{
                width: 100%;
                display: block;
                text-align: center;
                a{
                  color: #000;                 
                }
              }
          }
        }
      }


      .top-navbar{
        background: #000;
        color: #fff;

        .contact-top{
          margin-top: 7px;
          @media (max-width: $screen-sm-max) {
              text-align: center;
          }

          p a{
            color: #fff;
            @include responsive-font(1vw, 14px, 16px);
          }
          p{
            margin-bottom: 0;
          }
          opacity: 0.5;
        }

        .links-top{
          .navbar-nav{
            margin-top: 7px;
            margin-bottom: 7px;
          }
          ul{
            li {
              list-style: none;
              margin-right: 15px;
              padding-top: 0;
              padding-bottom: 0;
              a{
                color:#fff;
                text-transform: uppercase;
              }
            }
          }

        }
      }
    }

    .main-navbar{
      .navbar{
        padding: 10px 0 20px 0;
        background: $brand-primary;
        margin-bottom: 0;
      }
      .navbar-brand{

        display: inline-block;
        padding-top: .25rem;
        padding-bottom: .25rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        height: auto;

        img{
          max-width: 185px;
          @media (max-width: $screen-sm-max) {
              max-width: 115px
          }
        }
      }

      #main-menu .menu-item{
            padding-left: 25px;
            float: left;
            display: inline;
            width: auto;

            @media (max-width: $screen-sm-max) {
              padding-left: 0;
            }

            a{
              color: #000!important;
              font-size: 17px;
              text-transform: uppercase;
              font-weight: 700;
              
              &:last-child{
                  @media (min-width: $screen-sm-min) {
                      padding-right: 0;
                  }
              }
            }
      }

      .menu-item {
          float: left;
          display: inline;
          width: auto;
      }

    }
}
