main{
  .home-wrapper{
    padding-top: 250px;
  }
  .sidebar-area{
    @media (min-width: $screen-md-min) {
        border-left: 3px solid $brand-primary;
    }

        .social-share{
          margin-right: 20px;

          &.share-linkedin{
            color: $colour-linkedin;
          }
          &.share-facebook{
            color: $colour-facebook;
          }
          &.share-twitter{
            color: $colour-twitter;
          }
        }
  }
}

#cta-box{
  padding: 40px 0;
  img{
    max-width: 200px
  }
}
