// Helper classes

.prepend-top-1 {
    margin-top: 10px !important;
}

.prepend-top-2 {
    margin-top: 20px !important;
}

.prepend-top-3 {
    margin-top: 30px !important;
}

.prepend-top-4 {
    margin-top: 40px !important;
}

.prepend-top-5 {
    margin-top: 50px !important;
}

// Layout

*:focus {
    outline: none;
}

body {
    color: #000;

    a {
        &:focus {
            outline: none;
        }
    }
}


