///
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback),
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;

    @media (max-#{$dimension}: #{$min-breakpoint}) {
        font-size: $min;
    }

    @if $max {
        $max-breakpoint: $max / $responsive-unitless * 100;

        @media (min-#{$dimension}: #{$max-breakpoint}) {
            font-size: $max;
        }
    }

    @if $fallback {
        font-size: $fallback;
    }

    font-size: $responsive;
}

body{
    font-family: $font-family-sans-serif;
    @include responsive-font(1vw, 16px, 20px);
}

// Typography

h1, h2, h3, h4, h5 {
    font-family: $font-family-titles, sans-serif;
    color: #000;
}


h1 {
    font-family: $font-family-serif;
    @include responsive-font(3.2vw, 35px, 45px);
    color: $brand-primary;
    font-weight: 300;
    color: #000;
}

h2 {
  font-family: $font-family-sans-serif;
    @include responsive-font(3vw, 35px, 100px);
}

h3 {
    font-family: $font-family-sans-serif;
    @include responsive-font(2.2vw, 30px, 60px);
}

h4 {
    font-family: $font-family-sans-serif;
    @include responsive-font(1vw, 12px, 18px);
    color: $brand-primary;
    font-weight: 600;
    margin: 36px 0 18px 0;
}

p {
    @include responsive-font(1vw, 16px, 20px);

    font-family: $font-family-sans-serif;
    color: #000;
    font-weight: 300;

    a{
      color: #000;
      text-decoration: underline;
    }
}
